@font-face {
  font-family:'Gilroy';
  src: url('../web/gilroylight.woff2') format('woff2');
  src: url('../web/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:'Gilroy';
  src: url('../web/gilroyextrabold.woff2') format('woff2');
  src: url('../web/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family:'Opensans';
  src: url('../web/opensans.woff2') format('woff2');
  src: url('../web/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'Opensans';
  src: url('../web/opensanslight.woff2') format('woff2');
  src: url('../web/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 15px;
  font-weigth: 300;
  line-heigth: 2;
  text-transform: "uppercase";
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity:0.3;
}

h2 {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.5px;
  color: #000000;
}

.main-navigation {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #000000;
  background-color: #f7e296;
  width: auto;
  margin: 40px 140px;
  padding: 0;
}

.user-navigation {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

.seaching {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
}

.catalog-lists {
  display: none;
}

div:hover .catalog-lists {
  display: inline;
}

.slide {
  list-style: none;
}

.slide h2 {
  line-height: 1.19;
}

.slides {
  margin: 0px 230px;
  padding: 0;
}

.slides-switches {
  list-style: none;
}

.catalog-lists {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.2px;
  color: #000000;
  list-style: none;
}

.catalog-navigation {
  list-style: none;
}

.about-us,
.contacts {
 font-family: OpenSans, Arial, sans-serif;
 font-size: 15px;
 font-weight: 300;
 line-height: 2;
 color: #464646;
 margin: 95px 139px;
 }

 .about-us {
   width: 462px;
 }

 .connect {
   display:flex;
 }

.delivery-company {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  list-style: none;
}

.more {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
  background-color: #f0c52e;
}

.good {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #464646;
}

.descriotion-value {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #000000;
}

.descriotion-name {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.1px;
  color: #464646;
}

.goods-navigation {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 120px 140px;
  padding: 0;
}

.products-catalog {
  display:flex;
  list-style: none;
}

.user-sell {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  background: #e5e5e5;
  list-style: none;
}

.foruser {
  background-color: #f0c52e;
}

.sell {
  background: #e5e5e5;
  list-style: none;
}


.img-goods {
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
  margin: 40px;
}

.brends {
  opacity: 0.2;
  list-style: none;
  margin: 94px 140px;
  display: flex;
}

.brends:hover {
  opacity: 1;
}

.modal,
.visually-hidden {
  display: none;
}
footer {
   font-family: OpenSans, Arial, sans-serif;
   font-size: 15px;
   font-weight: 300;
   line-height: 2.4;
   background-color: #464646;
}

.user-footer a {
   opacity: 0.7;
   font-family: OpenSans, Arial, sans-serif;
   font-size: 15px;
   font-weight: 300;
   line-height: 2.4;
   letter-spacing: 0.2px;
   color: rgba(255, 255, 255, 0.7);
}

.footer-navigation {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #ffffff;
  list-style: none;
}

.footer-navigation a {
  color: #ffffff;
  align-items: center;
}

.contact {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #ffffff;
}

.social {
  opacity: 0.3;
  display: flex;
  list-style: none;
}

.footer-top {
  display:flex;
}

.footer-middle {
  display:flex;
}

.footer-bottom {
  display:flex;
}

.button-exit {
  opacity: 0.3;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb {
  list-style: none;
}

.breadcrumb {
 opacity: 0.3;
 font-family: OpenSans, Arial, sans-serif;
 font-size: 14px;
 font-weight: 300;
 line-height: 1.71;
 letter-spacing: 0.1px;
 color: rgba(0, 0, 0, 0.3);
}

h3 {
 font-family: Gilroy, "Arial Black", sans-serif;
 font-size: 16px;
 font-weight: 800;
 line-height: 1.5;
 letter-spacing: 3.2px;
 color: #000000;
}

.main-page {
  display: flex;
  }

.monopod-types {
  display: flex;
}

.sorting {
  width: 1479px;
  display: flex;
  background-color: #ebebeb;
}

.filters {
width: 467px;
background-color: #ebebeb;
display: flex;
}

.filter-color {
  list-style: none;
}

.filter-Bluetooth {
  list-style: none;
}

.sorting-type {
  list-style: none;
}

.sorting-price {
  list-style: none;
}

.monopods {
  width: 1000px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.monopod-types {
  width: 1439px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.monopod-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}


.item-jpg {
  padding: 0px;
  margin: 40px;
}

.page {
  width: 1479px;
  display: flex;
}

.pages {
  list-style: none;
  display: flex;
}

.filters {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.86;
  letter-spacing: 0.1px;
  color: #000000;
}

.filter-types {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #000000;
}

.filter-button {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #000000;
  background-color: #f0c52e;
}

.sorting-types {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
}

.monopads-name {
  font-family: Gilroy "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #000000;
}

.monopads-price {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #464646;
}

.page {
  background-color: #ebebeb;
}
