@font-face {
  font-family:'Gilroy';
  src: url('../web/gilroylight.woff2') format('woff2');
  src: url('../web/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:'Gilroy';
  src: url('../web/gilroyextrabold.woff2') format('woff2');
  src: url('../web/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family:'Opensans';
  src: url('../web/opensans.woff2') format('woff2');
  src: url('../web/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'Opensans';
  src: url('../web/opensanslight.woff2') format('woff2');
  src: url('../web/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 15px;
  font-weigth: 300;
  line-heigth: 2;
  text-transform: "uppercase";
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity:0.3;
}

h2 {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.5px;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo{
padding: 0px;
margin-left: 59px;
margin-top: -20px;
margin-bottom: 5px;
}

.main-navigation {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #000000;
  background-color: #f7e296;

  width: auto;
  min-height: 300px;
  margin: 40px 140px;
  padding: 0;
}

.user-navigation {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;

  padding: 0px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 35px;
  margin-bottom: 51px;


  display: flex;
  justify-content: space-between;

  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.main-menu{
  padding: 0px;
  margin: 0px;
  list-style: none;

  display: flex;
}

.menu {
  padding: 0;
  padding-left: 40px;
}

.menu.item1 {
  width: 440px;
  padding: 0;
}

.seaching {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;

  margin-left: 60px;
  margin-right: 60px;

  background: rgba(234, 0, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.catalog-navigation {
  display: flex;
  padding: 0;
  margin: 0;
}

.catalog-navigation li:nth-child(1) {
  width: 500px;
  margin: 0;
  }

.catalog-navigation li:nth-last-child(1) {
  margin: 0;
}

.catalog-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}

.catalog-lists {
  display: none;
}

li.catalog-menu.1:hover .catalog-list {
  display: block;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.slides{
  min-width: 1129px;
  margin-bottom: 106px;
}

.container2 {
  width: 1129px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;

  color: #000000;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display:
}

.slider-item {
  min-height: 490px;
  display: flex;
  justify-content:space-between;


  background: rgba(234, 0, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 0, 45);
}

.slider-img {
  width: 530px;
  padding: 0;
  margin: 0;
}

.slider-text {
  width: 600px;
  padding: 0px;
  margin: 0px;

  position: relative;
}

.slide-title {
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
}

.good{
  padding: 0px;
  margin: 0px;
  margin-bottom: 62px;
}

.button {
    font-family: Gilroy, "Arial Black", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #000000;
    background-color: #f0c52e;

    padding: 0px;
    margin: 0px;
}

.table {
  padding: 0px;
  margin: 0px;
  margin-top: 76px;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 0;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .slides #slide1,
#product-2:checked ~ .slides #slide2,
#product-3:checked ~ .slides #slide3 {
  display: flex;
}

#product-1:checked ~ .slides label[for="product-1"],
#product-2:checked ~ .slides label[for="product-2"],
#product-3:checked ~ .slides label[for="product-3"] {
  background-color: #000000;
}

.catalog-lists {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.2px;
  color: #000000;
  list-style: none;
}

.catalog-navigation {
  list-style: none;
}

.connect {
justify-content: space-around;}

.about-us,
.contacts {
 font-family: OpenSans, Arial, sans-serif;
 font-size: 15px;
 font-weight: 300;
 line-height: 2;
 color: #464646;
 margin: 95px 139px;
 }

 .mapjpg {
   margin-top: 45px;
   margin-bottom: 80px;
 }

 .about-us {
   width: 462px;
 }

 .connect {
   display:flex;
 }

.delivery-company {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  list-style: none;

  margin-top: 80px;
  margin-bottom: 80px;
}

.delivery-about {
  min-height: 315px;
}

.choose {
  min-height: 90px;
}

.more {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #000000;
  background-color: #f0c52e;
}

.good {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #464646;
}

.descriotion-value {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #000000;
}

.descriotion-name {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.1px;
  color: #464646;
}

.goods-navigation {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 120px 140px;
  padding: 0;
}

.products-catalog {
  width: 1160px;
  margin: 0 auto;
  display:flex;
  list-style: none;
  justify-content: space-between;

  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #000000;
}

.products-item {
  max-width: 160px;
  padding: 0px;
  margin: 20px;
}

.navi-catalog {
  width: 160px;
  height: 160px;
  margin-bottom: 39px;

  background-color: rgba(240, 197, 46, 0.5);
  display: flex;
  justify-content: center;
  align-items:center;
}

.user-sell {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  background: #e5e5e5;
  list-style: none;

  /*position: absolute;*/
}

.slides-page {
  display: flex;
  min-height: 288px;
  justify-content: center;
}

.slide-title2 {
  margin-bottom: 30px;

  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  }

.foruser {
  width: 160px;
  height: 6px;
  background-color: #f0c52e;
  margin-bottom: 55px;
}

.sell {
  background: #e5e5e5;
  list-style: none;
  width: 100%;
}

.brend{
  margin: 0 auto;
}

.brends {
  opacity: 0.2;
  list-style: none;
  margin: 94px 140px;
  display: flex;
}

.brends-logo {
  margin: 0 20px;
}

.brends:hover {
  opacity: 1;
}

.modal,
.visually-hidden {
  display: none;
}

footer {
   font-family: OpenSans, Arial, sans-serif;
   font-size: 15px;
   font-weight: 300;
   line-height: 2.4;
   background-color: #464646;
}

.user-footer a {
   opacity: 0.7;
   font-family: OpenSans, Arial, sans-serif;
   font-size: 15px;
   font-weight: 300;
   line-height: 2.4;
   letter-spacing: 0.2px;
   color: rgba(255, 255, 255, 0.7);
}

.footer-navigation {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #ffffff;
  list-style: none;
}

.footer-navigation a {
  color: #ffffff;
  align-items: center;
}

.contact {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #ffffff;
}

.social {
  opacity: 0.3;
  display: flex;
  list-style: none;
}

.footer-top {
  display:flex;
  justify-content: space-between;
  padding-top: 65px;
  margin: 0 140px;
  margin-top: 65px;
  margin-bottom: 40px;
}

.user-footer {
  display: flex;
}

.footer-menu {
padding: 0 21px;
  }

.footer-middle {
  display:flex;
  justify-content: space-between;
  margin: 0 140px;
  margin-bottom: 70px;
}

.footer-navigation {
  display: flex;
}

.footer-item {
padding: 0 19px;
}

.footer-bottom {
  display:flex;
  justify-content: space-between;
  margin: 0 140px;
}

.social-page {
padding: 0 11px;
}

.line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.button-exit {
  opacity: 0.3;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb {
  list-style: none;
}

.breadcrumb {
 opacity: 0.3;
 font-family: OpenSans, Arial, sans-serif;
 font-size: 14px;
 font-weight: 300;
 line-height: 1.71;
 letter-spacing: 0.1px;
 color: rgba(0, 0, 0, 0.3);
}

h3 {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
}

.main-page {
  display: flex;
}

.monopod-types {
  display: flex;
}

.sorting {
  width: 1479px;
  display: flex;
  background-color: #ebebeb;
  padding-top: 30px;
  padding-bottom: 30px;
}

.filters {
  width: 467px;
  background-color: #ebebeb;
}

.filter-title {
  padding: 0;
  margin: 30px auto;
  text-align: center;
}

.filter-color {
  list-style: none;
}

.filter-Bluetooth {
  list-style: none;
}

.sorting-type {
  list-style: none;
  display: flex;
}

.sorting-price {
  list-style: none;
  display: flex;
}

.monopods {
  width: 1000px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.monopod-types {
  width: 1439px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.monopod-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.item-jpg {
  padding: 0px;
  margin: 40px;
}

.page {
  width: 760px;
  display: flex;
  justify-content: space-between;
  margin-left: 75px;
  margin-right: 140px;
}

.pages {
  list-style: none;
  display: flex;
}

.filters {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.86;
  letter-spacing: 0.1px;
  color: #000000;
}

.filter-types {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #000000;
}

.filter-button {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #000000;
  background-color: #f0c52e;
}

.sorting-types {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
}

.sort-type {
  margin: 0 30px;
}

.sort-price {
  margin: 0 20px;
}

.monopads-name {
  font-family: Gilroy "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #000000;
}

.monopads-price {
  font-family: Gilroy, "Arial Black", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #464646;
}

.page {
  background-color: #ebebeb;
}
